/* SECTION GALLERY */
.section-gallery div {
  display: grid;
  gap: 1rem;
}
.section-gallery figure img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.section-gallery figure {
  position: relative;
  overflow: hidden;
}
.section-gallery img{
  position: absolute;
}

/* MEDIA QUERIES */
/* OVER 800PX */
@media (min-width: 800px) {
  .section-gallery div {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* OVER 1200PX */
@media (min-width: 1200px) {
  .section-gallery div {
    grid-template-columns: repeat(4, 1fr);
  }
}
