/* SECTION GALLERY */

.section-gallery {
  position: relative;
  width: 100%;
}

#gallery_image {
  width: 100%;
}

#gallery_back {
  width: 5%;
  position: absolute;
  bottom: 40%;
  cursor: pointer;
}
#gallery_forward {
  width: 5%;
  position: absolute;
  transform: rotate(180deg);
  bottom: 40%;
  right: 0px;
  cursor: pointer;
}


/* MEDIA QUERIES */
/* OVER 800PX */
/* @media (min-width: 800px) {
  .section-gallery div {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* OVER 1200PX */
/* @media (min-width: 1200px) {
  .section-gallery div {
    grid-template-columns: repeat(4, 1fr);
  }
} */
